@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body { font-family: 'Inter', sans-serif; }
.serif { font-family: 'Playfair Display', serif; }
::-webkit-scrollbar { width: 2px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: black; }
.dark ::-webkit-scrollbar-thumb { background: white; }

.post a {
    color: #ef4444 !important;
    text-decoration: none;
}
.post a:hover {
    color: #ef4444 !important;
    text-decoration: underline;
}

        #question, #answer, .post h3, .post h2, .post h4, .page h3 {
            font-family: 'Inter', sans-serif;
            font-size: 1.25rem;
            line-height: 1.8;
            margin-bottom: 1.5rem;
            font-weight: bold;
        }
        
.footnotes {
    margin-top: 2rem;
    padding-top: 2rem;
}
.footnote a {
    margin-left: 3px;
    color: #ef4444 !important;
}
.footnotes ol li p {
    font-size: 14px !important;
    line-height: 1.4 !important;
    color: #666 !important;
    margin: 0 !important; 
    display: inline;
}

.footnotes ol li {
    font-size: 14px !important;
    color: #999;
    margin-bottom: 0.5rem;
}

.reversefootnote {
    font-size: 14px !important;
    text-decoration: none !important;
    margin-left: 5px;
    color: #ef4444 !important;
}

.reversefootnote:hover {
    background: none !important; 
    text-decoration: underline !important;
}